<!--<div>
    <table style="width: 100%;color: white" class="table table-bordered table-dark table-striped">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Price</th>
            <th>InStock</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let prod of product">
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.instock}}</td>
            <td>{{prod.image}}</td>
        </tr>
    </table>
</div>
-->
<div>
        <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)] = "query">
              </div>

    <div>
        <table style="width: 100%;color: white" class="table table-bordered table-dark table-striped" >
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Price</th>
                <th>InStock</th>
                <th>Image</th>
                <th>Category</th>
            </tr>
            <tr  *ngFor="let prod of product | search: 'category,name':query">
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td>{{prod.price}}</td>
                <td>{{prod.instock}}</td>
                <td>{{prod.image}}</td>
                <td>{{prod.category}}</td>
            </tr>
        </table>
    </div>
    
    
    <!-- <inv-thumb [product1]="product"></inv-thumb> -->

</div>
<!-- <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.instock}}</td>
                <td>{{product.image}}</td> -->