<!--<div>
    <table style="width: 100%;color: white" class="table table-bordered table-dark table-striped">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Price</th>
            <th>InStock</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let prod of product">
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.instock}}</td>
            <td>{{prod.image}}</td>
        </tr>
    </table>
</div>
-->
<div>
    <div class="container">
        <span>
            <h3 style="font-family: Arial Narrow, sans-serif ;color: rgb(240, 240, 235)">Welcome Admin</h3>
        </span>

        <div><span>
                <hr></span></div>
        <br>
        <div class="btn-group" style="width: 100%">
            <button type="button" class="btn btn-primary">Silencers</button>
            <button type="button" class="btn btn-primary">Accessories</button>
            <button type="button" class="btn btn-primary">Lubricants</button>
            <button type="button" class="btn btn-primary">Riding Gears</button>
            <button type="button" class="btn btn-primary">Crash guards</button>
            <button type="button" class="btn btn-primary">Helmets</button>
            <button type="button" class="btn btn-primary">HeadLights</button>

        </div>

        <br>

    </div>

    <div>
        <table style="width: 100%;color: white" class="table table-bordered table-dark table-striped" >
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Price</th>
                <th>InStock</th>
                <th>Image</th>
            </tr>
            <tr  *ngFor="let prod of product"  >
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td>{{prod.price}}</td>
                <td>{{prod.instock}}</td>
                <td>{{prod.image}}</td>
            </tr>
        </table>
    </div>
    
    
    <!-- <inv-thumb [product1]="product"></inv-thumb> -->

</div>
<!-- <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.instock}}</td>
                <td>{{product.image}}</td> -->