<div>
    <div class="container">
        <span>
            <h3 style="font-family: Arial Narrow, sans-serif ;color: rgb(240, 240, 235)">Welcome Admin</h3>
        </span>

        <div><span>
                <hr></span></div>
        <br>

        <table name=table1>
            <tr>

                <td><button name="category1" class="button">category1</button></td>
                <td><button name="category2" class="button">category2</button></td>
                <td><button name="category3" class="button">category3</button></td>
                <td><button name="category4" class="button">category4</button></td>
                <td><button name="category5" class="button">category5</button></td>
                <td><button name="category6" class="button">category6</button></td>
                <td><button name="category7" class="button">category7</button></td>
                <td><button name="category8" class="button">category8</button></td>
                <td><button name="category9" class="button">category9</button></td>
            </tr>
        </table>
       <br>
        <inv-data></inv-data>
    </div>

    
        
    
</div>