h1 {
    color: white;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
    margin-right: 20px;
    padding: 14px 20px;
    background-color: yellow;
    display: block;
  }
  
  .button:hover {
    background-color: whitesmoke; /* Green */
    color: black;
    border-radius: 12px;
  }
  
hr{

  width: 100%;
}
    