
<div class="list-group-warning" style="width: 200px">
    <a href="#" class="list-group-item list-group-item-action">Category 1</a>
    <a href="#" class="list-group-item list-group-item-action">Category 2</a>
    <a href="#" class="list-group-item list-group-item-action">Category 3</a>
    <a href="#" class="list-group-item list-group-item-action">Category 4</a>
    <a href="#" class="list-group-item list-group-item-action">Category 5</a>
    <a href="#" class="list-group-item list-group-item-action">Category 6</a>
    <a href="#" class="list-group-item list-group-item-action">Category 7</a>
 </div>

 <!--<div class="card-columns">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the first card</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fifth card</p>
      </div>
    </div>
    <div class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the sixth card</p>
      </div>
    </div>
  </div>-->
  <div class="card-columns">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="" alt="Card image" style="width:20%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <br>
    
    <div class="card" style="width:400px">
        <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Card image" style="width:20%">
      <div class="card-body">
        <h4 class="card-title">Jane Doe</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
     
    </div>
</div>
