
<div class="container">
  <br/>
<div class="row justify-content-center">
                      <div class="col-12 col-md-10 col-lg-8">
                          <form class="card card-sm">
                              <div class="card-body row no-gutters align-items-center">
                                  <div class="col-auto">
                                      <i class="fas fa-search h4 text-body"></i>
                                  </div>
                                  <!--end of col-->
                                  <div class="col">
                                      <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                  </div>
                                  <!--end of col-->
                                  <div class="col-auto">
                                      <button class="btn btn-lg btn-warning" type="submit">Search</button>
                                  </div>
                                  <!--end of col-->
                              </div>
                          </form>
                      </div>
                      <!--end of col-->
                  </div>
</div><br><br>

<div style="text-align: center">
  <div id="tab" class="btn-group" data-toggle="buttons-radio">
    <a href="#silencer" class="btn btn-large btn-info active" data-toggle="tab">Silencer</a>
    <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">category 2</a>
    <a href="#requests2" class="btn btn-large btn-info" data-toggle="tab">category 3</a>
    <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">category 4</a>
  </div>
</div><br><br>


<div class="tab-content">
  <div class="tab-pane active" id="silencer">
    <br>

<div class="container">
<div class="card-columns" style="text-align: center">
    <div class="card text-white bg-dark mb-3" style="width:300px">
      <div style="text-align: center">
       <img class="card-img-top" src="assets/images/shark.jpg" alt="Shark" style="width:200px">
      </div>
       <div class="card-body">
        <h4 class="card-title">Shark</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
    </div>
    <br>
    
    <div class="card text-white bg-dark mb-3" style="width:300px">
        <div style="text-align: center">
        <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
        </div>
       <div class="card-body">
        <h4 class="card-title">Wild Bhor</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
    </div> 

      <br>

      <div class="card text-white bg-dark mb-3" style="width:300px">
         <div style="text-align: center">
         <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
         </div>
       <div class="card-body">
         <h4 class="card-title">Wild Bhor</h4>
         <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
         <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div>

     <br>
      
     <div class="card text-white bg-dark mb-3" style="width:300px">
        <div style="text-align: center">
        <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
        </div>
       <div class="card-body">
        <h4 class="card-title">Wild Bhor</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div> 

     <br>

      <div class="card text-white bg-dark mb-3" style="width:300px">
         <div style="text-align: center">
         <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
         </div>
       <div class="card-body">
         <h4 class="card-title">Wild Bhor</h4>
         <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
         <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div>

     <br>
      
     <div class="card text-white bg-dark mb-3" style="width:300px">
        <div style="text-align: center">
        <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
        </div>
       <div class="card-body">
        <h4 class="card-title">Wild Bhor</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div> 

 </div>
</div>
</div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="features2">
    <br>

<div class="container">
<div class="card-columns" style="text-align: center">
    <div class="card text-white bg-dark mb-3" style="width:300px">
      <div style="text-align: center">
       <img class="card-img-top" src="assets/images/shark.jpg" alt="Shark" style="width:200px">
      </div>
       <div class="card-body">
        <h4 class="card-title">Shark</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
    </div>
    <br>
    
    <div class="card text-white bg-dark mb-3" style="width:300px">
        <div style="text-align: center">
        <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
        </div>
       <div class="card-body">
        <h4 class="card-title">Wild Bhor</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
    </div> 

      <br>

      <div class="card text-white bg-dark mb-3" style="width:300px">
         <div style="text-align: center">
         <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
         </div>
       <div class="card-body">
         <h4 class="card-title">Wild Bhor</h4>
         <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
         <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div>

     <br>
      
     <div class="card text-white bg-dark mb-3" style="width:300px">
        <div style="text-align: center">
        <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
        </div>
       <div class="card-body">
        <h4 class="card-title">Wild Bhor</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div> 

     <br>

      <div class="card text-white bg-dark mb-3" style="width:300px">
         <div style="text-align: center">
         <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
         </div>
       <div class="card-body">
         <h4 class="card-title">Wild Bhor</h4>
         <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
         <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div>

     <br>
      
     <div class="card text-white bg-dark mb-3" style="width:300px">
        <div style="text-align: center">
        <img class="card-img-top" src="assets/images/61a4JqrX6fL._SY355_.jpg" alt="Wild Bhor" style="width:200px">
        </div>
       <div class="card-body">
        <h4 class="card-title">Wild Bhor</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See similar products</a>
       </div>
     </div> 

 </div>
</div>
</div>
</div>